*{
    margin: 0;
    padding: 0;
}
body{ 
    background: rgba(0, 0, 0, 0.7) url(images/rest.jpg) center center fixed;background-size: cover;background-blend-mode: darken;
    font-family: sans-serif
}
.navbar{
    justify-content: space-between;
    align-items: center;
    padding: 0;
    float: right;
}
.navbar ul li{
    display: inline-block;
    padding: 18px;
    text-transform: uppercase;

}

.navbar ul li a{
    text-decoration: none;
    color: white;
    padding: 4px;
    transition: 0.5s;
}

.navbar ul li a:hover{
box-shadow: 0 3px 50px blue inset,0 3px 50px blue inset,0 3px 50px blue inset,0 3px 50px blue inset,0 3px 50px blue inset;
}

.navbar .reservation{
    padding: 8px;
    background-color: blue;
}

.content{
    width: 100%;
    position: relative;
    top: 50%;
    right: 500px;
    text-align: center;
    color: white;
}
.content h1{
    font-size: 70px;
    margin-top: 80px;
}
.content p{
    margin: 20px auto;
    font-weight: 100;
    line-height: 25px;
}
.footer{
    color: #fff;
    text-align: center;
    padding: 20px;
    position:  fixed;
    bottom: 0;
    width: 100%;
    }